body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff7e6;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    color: #d80000;
    margin-top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin: 40px 100px;
  }

  .button-section {
    width: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .section {
    width: 33%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .section h2 {
    text-align: center;
    color: #d80000;
    font-size: 24px;
  }

  .order-section {
    display: flex;
    height: 300px;
    border: 2px solid #ffd100;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff3d1;
  }

  .order {
    background-color: #ffd100;
    border: 2px solid #d80000;
    border-radius: 8px;
    margin: 10px 0;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #d80000;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    padding: 20px;
  }


  button {
    font-size: 16px;
    color: white;
    background-color: #d80000;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  button:hover {
    background-color: #ff4e00;
  }

  .add-bot-btn {
    background-color: #009f00;
  }

  .remove-bot-btn {
    background-color: #a70000;
  }

  .add-bot-btn:hover {
    background-color: #00b400;
  }

  .remove-bot-btn:hover {
    background-color: #ff0000;
  }
